* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
.baslik{
   background-color:  #C4D600;
   width: 100%;
   height: 51px;
}
.araliklibosluk {
    display: flex;
    justify-content: flex-end;
}
.baslikalti{
   background-color: #5d6065;
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: flex-end;
}
.resimboyut{
    width:100%;
    height: 714px;
}
.ortayer{
    width: 100%;
    height: 1180px;
    background-color: blue;
}
.ayagayakin{
    width: 100%;
    height: 555px;
    background-color: red;
}
.ayak{
    width: 100%;
    height: 364px;
    background-color: yellow;
}
.parmak{
    width: 100%;
    height: 56px;
    background-color: black;
}
.sol-parmak{
    height: 56px;
    width: 33.33%;
    float: left;
    background-color: orange;
}
.orta-parmak{
    height: 56px;
    width: 33.33%;
    float: left;
    background-color: yellow;
}
.sag-parmak{
    height: 56px;
    width: 33.33%;
    float: left;
    background-color: blue;
}
.yantaraf{
    width: 700px;
    height: 80px;
    background-color: #5d6065;
}
.solagidecek{
    width: 350px;
    height: 50px;
    background-color: red;
}
.sagagidecek{
    width: 750px;
    height: 50px;
    background-color:  #C4D600;
    
}
.digeryantaraf{
    width: 790px;
    height: 80px; 
    
}
.blok{
    width: 100%;
    height: 500px;
    background-color: orange;
    margin-left: 200px;
}
.kutu{
    float: left;
    width: 400px;
    height: 500px;
    background-color: red;
    margin-left: 100px;
}
.kutucuk{
    width: 800px;
    height: 600px;
    background-color: orange;
    margin-left: 30%;
}
.kutucuklar-1{
    width: 800px;
    height: 100px;
    background-color: white;
}
.buyukkutu{
    width: 400px;
    height: 350px;
    background-color: blue;
    margin-left: 200px;
}
.kutucuklar{
    width: 800px;
    height: 100px;
}
.listekutu{
    width: 270px;
    height: 370px;
    background-color: blue;
    float: left;
    margin-left: 150px;
}
.kutuayar{
    background-color: #9DCA00;
    width: 190px;
    height: 51px;
    margin-left: 370px;
}
.yaziayar-1{
    padding: 14px 23px;
}
.yaziayar-2{
    padding: 14px 23px;
    margin-right: 500px;
}
.resimboyut-1{
    width:100%;
    height: 80px;
}
.yantaraf-1{
    padding: 0px 15px;
    margin-top: 25px;
}
.yantaraf-1-yaziayarlama{
    text-decoration: none;
    padding: 0px 15px;
}
.resimayar-1{
    width: 330px;
    height: 230px;
    padding-left: 30px;
}
.yazimayar-1{
    padding-left: 30px;
}
.yazistilim-kutucuklar{
    font-size: 38px;
    color: #2B343B;
    padding-left: 300px;
    padding-top: 3%;
}
.yazistilim-kutucuklar-1{
    font-size: 16px;
    color: #5D6065;
    padding-left: 170px;
    margin: 0px 0px 15px;
}
.buyuk-kutu-resim-ayar{
    width: 100%;
    height: 350px;
}
.liste-kutu-yazi-ayari{
    font-size: 16px;
    padding: 0px 0px 0px 20px;
}
.liste-kutu-baslik-yazi-ayarı{
    font-size: 21px;
    margin: 0px 0px 32px;
    padding: 0px 0px 0px 20px;
}
.boslukbirakma{
    padding: 0px 0px 12px;
}
.yazistili{
    font-family: Arial, Helvetica, sans-serif;    
}
.yaziboyut15px{
    font-size: 15px;
}
.yaziboyut16px{
    font-size: 16px;
}
.yaziboyut17px{
    font-size: 17px;
}
.yaziboyut21px{
    font-size: 21px;
}
.yaziboyut14px{
    font-size: 14px;
}
.yaziboyut38px{
    font-size: 38px;
}
.beyazyazi{
    color: white;
}
.yesilyazi{
    color: #9DCA00;
}